
{% extends "base.html" %}
{% block content %}
{% block title %}Liste des joueurs{% endblock %}
<div class="card-body">

    <h1>Liste des joueurs</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Âge</th>
                <th scope="col">Poste</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.age }}</td>
                <td>{{ joueur.poste }}</td>
                <td>
                   
                    <a type="button" class="btn btn-warning" href="{% url 'update_player' joueur.id %}">Modifier</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete_player' joueur.id %}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{% url 'create_player' %}">Ajouter un joueur</a>
</div>
</html>